<form (submit)="guardarCambios()" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Titulo*</mat-label>
        <input formControlName= "titulo" matInput />
        <mat-error> El campo titulo es requerido</mat-error>
    </mat-form-field>

    <div class="contenedor-checkbox">
        <mat-checkbox formControlName="enCines">En cines</mat-checkbox>
    </div>

    <mat-form-field appearance="outline">
        <mat-label>Trailer</mat-label>
        <input formControlName= "trailer" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Fecha de Lanzamiento</mat-label>
        <input formControlName= "fechaLanzamiento" matInput [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <h4>Seleccionar poster</h4>



    <h4>Resumen de la pelicula</h4>


    <div>
        <button mat-flat-button color="primary" [disabled]="form.invalid">Guardar cambios</button>
        <a mat-stroked-button routerLink="/">Cancelar</a>
    </div>


</form>
